/****************************************************
*   Hero
****************************************************/
#hero {
    height: 65vh;
    background: transparent url("/assets/images/benjamin-voros-phIFdC6lA4E-unsplash.jpg") center 0 fixed no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
    position: relative;
}

#hero .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#hero .container .text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 24%;
    left: 15%;
    padding: 16px;
}

#hero h1 {
    font-size: 64px;
    margin-bottom: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
}

#hero h2 {
    font-size: 28px;
    margin-top: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
}

.custom-shape-divider-bottom-1700629837 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1700629837 svg {
    position: relative;
    display: block;
    width: calc(165% + 1.3px);
    height: 110px;
}

.custom-shape-divider-bottom-1700629837 .shape-fill {
    fill: #181A1B;
}

/****************************************************
*   Affiliates
****************************************************/

#affiliates {
    position: relative;
    margin-bottom: 40px;
}

#affiliates .container {
    display: flex;
    flex-direction: column;
}

#affiliates .bms-container {
    display: flex;
}

#affiliates .bms-container img {
    height: 120px;
}

#affiliates .bms-container .content {
    display: flex;
    flex-direction: column;
    padding: 5px 50px;
    width: 90%;
}

#affiliates .bms-container h2 {
    margin-top: 4px;
    margin-bottom: 4px;
}

#affilitaes h2 {
    margin-top: 5px;
}

#affiliates a, #affiliates h2, #affiliates h2:visited {
    display: flex;
    text-decoration-color: #F35552;
    color: #F35552;
}

#affiliates a:hover, #affiliates h2:hover {
    color: #9B0000;
    text-decoration-color: #9B0000;
}